<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda Alunos</title>
</head>
<body>
    <h1>Agenda Alunos</h1>

    <div>
        <a href="./alunos/incluirAluno.html">Incluir Aluno</a>
        <a href="./alunos/listarAlunos.html">Listar Alunos</a>
        <a href="./alunos/atualizarAluno.html">Atualizar Aluno</a>
        <a href="./alunos/excluirAluno.html">Excluir Aluno</a>
    </div>
    
    <div>
        <a href="./agenda_alunos/incluirAgendaAluno.html">Incluir Agenda</a>
        <a href="./agenda_alunos/listarAgendaAluno.html">Listar Agenda</a>
        <a href="./agenda_alunos/excluirAgendaAluno.html">Atualizar Agenda</a>
        <a href="./agenda_alunos/excluirAgendaAluno.html">Excluir Agenda</a>
        
    </div>
</body>
</html>