<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda Alunos</title>
</head>

<body>
    <h1>Agenda Alunos</h1>

    <div>
        <a href="./alunos/incluir.html">Incluir Aluno</a>
        <a href="./alunos/listar.html">Listar Alunos</a>
        <a href="./alunos/atualizarAluno.html">Atualizar Aluno</a>
        <a href="./alunos/excluirAluno.html">Excluir Aluno</a>
    </div>

    <div>
        <a href="./agenda/listar_excluir.html">Agendas</a>
    </div>
</body>

</html>
