<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incluir Agenda</title>
</head>

<body>
    <form id="agenda-form-incluir">
        <input type="hidden" name="aluno_id" value="" required>

        <label for="nome">Nome do Aluno </label>
        <input type="text" name="nome" readonly disabled required>

        <label for="data">Data: </label>
        <input type="date" name="data" required>

        <label for="hora">Hora: </label>
        <input type="time" name="hora" required>

        <label for="descricao">Descrição: </label>
        <textarea type="text" name="descricao" required></textarea>

        <label for="local">Local: </label>
        <input type="text" name="local" required>

        <input type="submit">
    </form>
    <a href="../index.html">Voltar</a>
    <script src="../assets/scripts/agenda/incluir.js" type="module"></script>
</body>

</html>
