<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Alunos</title>
</head>
<body>

    <div id="pesquisarAluno">
        <label for="pesquisa">Pesquisar: </label>
        <input type="text" name="pesquisa" id="inpKey">
        <button type="button" id="btnPesquisa">Pesquisar</button>
    </div>

    <table border="1" id="tabelaAgenda">
        <tr>
            <th>ID</th>
            <th>Aluno ID</th>
            <th>Data</th>
            <th>Hora</th>
            <th>Descrição</th>
            <th>Local</th>
        </tr>
        <tr id="registroAgenda">
        </tr>
    </table>
    <a href="../index.html">Voltar</a>
    <script src="../scriptAgenda.js"></script>
</body>
</html>