<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Alunos</title>
</head>

<body>

    <div id="pesquisa-aluno-form">
        <label for="pesquisa">Pesquisar: </label>
        <input type="text" name="pesquisa" id="chave-input">
        <button type="button" id="pesquisa-button">Pesquisar</button>
    </div>

    <table border="1" id="alunos-table">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Data de Nascimento</th>
            <th>E-mail</th>
            <th>Telefone</th>
            <th>Ações</th>
        </tr>
        <tr id="registro-aluno-tr">
        </tr>
    </table>
    <a href="../index.html">Voltar</a>
    <script type="module" src="../assets/scripts/alunos/listar.js"></script>
</body>

</html>
